<header>
    <div class="header-container container">
        <div class="logo">セナリ学院</div>
        <nav>
            <ul class="nav-menu">
                <li class="header-buttons">
                    <div class="nav-buttons">
                        <a href="https://scenari.teleport.jp/signin" class="login-button">ログイン</a>
                        <a href="https://scenari.teleport.jp/signin" class="cta-button">無料で体験する</a>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
</header> 